body{
    padding: 100px;
    margin: 100px;
    border: 100px solid grey;

}
button:hover{
    background-color: lightblue;
    color: white;
}

button:active{
    background-color: red
}

button:focus{
    border: 10px solid violet
}
